h1,h2,h3,h4,h5,div,p,hr {
	margin:0px;
	padding:0px;
}

.input-group {
	display:inline-block;
}

/** Inputs **/
textarea {
	background-color: black;
	text-align: left;
}

input[type=text], input[type=number], input[type=email], input[type=password] {
	padding:5px 15px 5px 15px;
	background-color: #555555;
	border: 2px solid #000000;
	color:white;
}

input[type=number], input.short {
	width: 70px;
	padding-right:5px;
}

/** Styling for Buttons **/
.btn-default, .btn-success, .btn-danger, .btn-warning{
	padding:5px 15px 5px 15px;/*Top right bottom left*/
	background-color: black;
	color:white;
	border: 2px solid #333333;
	margin-left:5px;
}
.btn-default {
	background-color: #111111;
	border-color: #000000;
}
.btn-success {	
	background-color: #55CC55;
	border-color: #33BB33;
}
.btn-warning {	
	background-color: #A0A024;
	border-color: #757511;
}
.btn-danger {	
	background-color: #DD5555;
	border-color: #FF3333;
}

.margin-top, #error {
	margin-top: 15px;
}

#error {
	color:#ff3333;
}

/** Panels **/

.panel-default {
	background-color: #333333;
}
.panel-default .panel-heading {
	background-color: #555555;
	color: white;
}