body {
	background-color: #222222;
	color: white;
	padding:50px;
}
#beforeDisplay {
	position:relative;
	left:150px;  
	top:150px; 
}
#table1 td:hover {
	background-color: #8888FF;
}
#imageTable{
	float: right;
	border:2px solid black;
	padding:10px;	
	/*margin-left: -235px;
	margin-top: 245px;*/
    /*clear: both;*/
    /*float: left;*/
}
td {
	vertical-align: top;
}

.pad {
	padding: 15px;
}

#backButton {
	position: fixed;
	bottom: 10px;
	right: 10px;
}

.mapTile {
	border:2px solid #444444;
	float: left;
	display: block;
}

.pointer{
	cursor: pointer;	
}

.tile {
	cursor: pointer;
	onclick=function(){alert("clicked")};
	display: inline-block;
	float:left;
	width:50px;
	height:50px;
	margin: 1px;
	/*border:2px solid #444444;
	font-size:64px;
	text-align:center;*/
}

.obj {
	position: absolute;
	/*Note: Fixed position is relative to screen.  We could consider using absolute instead, which is the same but realitive to the document*/

}

.obj img {
	width: 32px;
	height: 32px;
}

.obj span {
	font-size:32px;
}

div:focus {
	outline:none;
	border:2px solid #222266;
}

.clear {
	width:100%;
	height: 0px;
	clear:both;
}


#table1 {
	border:2px solid black;
	padding:10px;	
}

label {
	margin-right:5px;
}

textarea {
	background-color:#EEEEFF;
	border:2px solid #DDDDEE;

}

input[type=text], input[type=number], input[type=email] {
	padding:5px 15px 5px 15px;
	background-color: #555555;
	border: 2px solid #000000;
	color:white;
}

input[type=number] {
	width: 70px;
	padding-right:5px;
}

.btn-success, .btn-danger, .btn-warning {
	padding:5px 15px 5px 15px;/*Top right bottom left*/
	background-color: black;
	color:white;
	border: 2px solid #333333;
	margin-left:5px;
}
.btn-success {	
	background-color: #55CC55;
	border-color: #33BB33;
}
.btn-warning {	
	background-color: #A0A024;
	border-color: #757511;
}
.btn-danger {	
	background-color: #DD5555;
	border-color: #FF3333;
}

#display {
	position: relative;
	/*width:100%;*/
	height:500px;
}